/**
 * Hide dragging source element by default.
 */

.hideDragSource {
  opacity: 0 !important;
}

/**
 * 1. Grabbing cursor.
 * 2. Reset transition duration to ignore any existing on the source element.
 * 3. Increase z-index to make sure dragged item sits on top of other elements.
 */

.defaultMirror {
  cursor: grabbing;
  z-index: 10;
}

.drag-block {
  position: relative;
  cursor: grab;
}

/**
 * Background for drag state.
 * 1. Set new stacking order so that it sits on top of other content.
 * 2. Should fill the area of its parent.
 * 3. Hide by default.
 */

.drag-block:before {
  background: #BDBDBD;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.Block-dragging:before {
  opacity: 1;
}

/**
 * Flashing circle in the foreground for drag state.
 * 1. Set stacking order to sit above :before psuedo element.
 * 2. Center circle to .Block element.
 * 3. Pulsate animation.
 */
.Block-dragging:after {
  background-color: #E0E0E0;
  border-radius: 50%;
  content: '';
  height: 60px;
  left: 20px;
  position: absolute;
  width: 60px;
  top: -10px;
  z-index: 2;
}

.drag-block .drag-block-content {
  border: 2px dashed transparent;
}

.drag-block.draggable-source--is-dragging .drag-block-content {
  border-color: #ccc;
}

.draggable-source--is-dragging .drag-block-content {
  border-radius: 2px;
}

.draggable-source--is-dragging .drag-block-content > * {
  opacity: 0;
}
