.amcharts-chart-div > a {
  display: none !important;
}

.chart-wrap {
  width: 100%;
}

.chart-header {
  background-color: #32353A;
  color: #fff;
  padding: 15px 20px;
  font-size: 16px;
}

.chart-header span {
  display: block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
